# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

## Author
Ahmad J Zaigham

# Objectives:

* Introduce some of the programming languages used in Data Science
* Introduce some of the programming language libraries used in Data Science
* Introduce some of the Open source Data Science tools

Popular languages used by Data Science are:

1. Python
2. R
3. Java Script
4. Scala
5. Ruby

Commonly used Data Science libraries used by Data Science:

1. Pandas
2. Tensor Flow
3. NumPy
4. SciPy
5. Matplotlib
6. Keras
7. PyTorch
8. SciKit-Learn
9. Dplyr
10.BioConductor
11.Shiny
12.Lubridate
13.Knitr
14.Mlr
15.Quanteda.dictionaries

Data Science Tools

1. Zeppelin Notebook
2. Jupyter Notebook
3. R Studio

Below are a few examples of evaluating arithmetic expressions in Python

1. a+b-5
2. a+b+c+255
3. a * b * C * 300
4. a/b + c*5

In [9]:

print("This a simple arithmetic expression to mutiply then add integers")

This a simple arithmetic expression to mutiply then add integers

In [20]:
print((3*4)+5)

17

This will convert 200 minutes to hours by dividing by 60

In [21]:
print(200/60)

3.3333333333333335